<h1><%= @article.title %></h1>
<h3><%= @article.content %></h3>
<form action="/articles/<%=@article.id%>" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" name="" value="">

</form>
